#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.header {
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.shapes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}

.orange {
  background-color: #FFA500; /* Orange */
  top: 0;
  left: 0;
}

.pink {
  background-color: #FF69B4; /* Pink */
  top: 0;
  right: 0;
}

.green {
  background-color: #32CD32; /* Green */
  bottom: 0;
  left: 0;
}

.blue {
  background-color: #1E90FF; /* Blue */
  bottom: 0;
  right: 0;
}
